@using InternationalWaterWebApp.Library.ViewModel
@model MyFields
@{
    ViewData["Title"] = "My Field Edit";
    string goback = "/Producer/MyFields";
    if (ViewBag.UserRole == (int)UserTypeEnum.Agronomist)
        goback = "/Advisor/Landing";
    else if (@ViewBag.UserRole == (int)UserTypeEnum.Admin)
        goback = "/Admin/MyFields";
}

<section class="GreyBG rounded-3 py-3">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-12 col-12">
                <nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-2">
                        <li class="breadcrumb-item"><a href="@goback">Fields</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Field</li>
                    </ol>
                </nav>
                <div class="bg-white WelWayFindr br-10 p-3 mb-3">
                    <div class="Heading">
                        <h2>Edit Field : @ViewBag.FieldName</h2>
                    </div>
                    @using (Html.BeginForm("MyFieldUpdate", "Common", FormMethod.Post, new { @id = "Editform", @class = "form-horizontal mt-3" }))
                    {
                        @if (!string.IsNullOrWhiteSpace(Convert.ToString(TempData["Error"])))
                        {
                            <div class="alert alert-danger mt-3" role="alert">
                                @TempData["Error"]
                            </div>
                        }
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="FieldName"><span class="Complsry me-1">*</span>Field Name</label>
                            </div>
                            <div class="col-md-5">
                                @Html.Hidden("userId",ViewBag.UserRole, new {})
                                @Html.HiddenFor(x => x.Field_Id)
                                @Html.TextBoxFor(x => x.Field_Name, new { @Value = "Hello", @id ="Field_Name", @class = "form-control form-control-lg", placeholder = "Field Name", maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.Field_Name, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="StreetAdd"><span class="Complsry me-1">*</span>Street Address</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.Street_Address, new { @id = "Street_Address", @class = "form-control form-control-lg", placeholder = "Street Address", maxlength = "50"})
                                @Html.ValidationMessageFor(model => model.Street_Address, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="City"><span class="Complsry me-1">*</span>City</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.City, new { @id = "City", @class = "form-control form-control-lg w-50", placeholder = "City", maxlength = "50"})
                                @Html.ValidationMessageFor(model => model.City, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="inputState"><span class="Complsry me-1">*</span>State</label>
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(x => x.State, new SelectList(ViewBag.StateOptions, "Value", "Text"), "Select State" , new {@id = "State" ,@class = "form-select form-control-lg w-25" })
                                @Html.ValidationMessageFor(model => model.State, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="Zip"><span class="Complsry me-1">*</span>Zip</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.Zip, new { @id =  "Zip", @class = "form-control form-control-lg w-25", placeholder = "Zip", maxlength = "5" })
                                @Html.ValidationMessageFor(model => model.Zip, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="County"><span class="Complsry me-1">*</span>County</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.County, new {  @id =  "County", @class = "form-control form-control-lg w-50", placeholder = "County", maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.County, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="Township"><span class="Complsry me-1">*</span>Township</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.Township, new {  @id =  "Township", @class = "form-control form-control-lg w-25", placeholder = "Township", maxlength = "50"})
                                @Html.ValidationMessageFor(model => model.Township, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="Range"><span class="Complsry me-1">*</span>Range</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.Range, new { @id =  "Range", @class = "form-control form-control-lg w-25", placeholder = "Range", maxlength = "50"})
                                @Html.ValidationMessageFor(model => model.Range, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="Section"><span class="Complsry me-1">*</span>Section</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.Section, new { @id =  "Section", @class = "form-control form-control-lg w-25", placeholder = "Section", maxlength = "50"})
                                @Html.ValidationMessageFor(model => model.Section, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="SectionHalf"><span class="Complsry me-1">*</span>Section Half</label>
                            </div>
                            <div class="col-md-5">
                                @{
                                    List<SelectListItem> items = new List<SelectListItem>
                            {
                            new SelectListItem { Value = "N", Text = "N" },
                            new SelectListItem { Value = "E", Text = "E" },
                            new SelectListItem { Value = "S", Text = "S" },
                            new SelectListItem { Value = "W", Text = "W" }
                            };
                                }
                                @Html.DropDownListFor(x => x.SectionHalf, items, "Select an option Half", new { @class = "form-select form-control-lg w-25" })
                                @Html.ValidationMessageFor(model => model.SectionHalf, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="Section_Quarter"><span class="Complsry me-1">*</span>Quater Section</label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.Section_Quarter, new { @id =  "Section_Quater", @class = "form-control form-control-lg", placeholder = "Section Quater", maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.Section_Quarter, "" , new {  @class = "Complsry" })
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <label for="inputState"><span class="Complsry me-1">*</span>Farm</label>
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(x => x.Farm_Id, new SelectList(ViewBag.Farm, "Value", "Text"), new {@id = "Farm_Id" ,@class = "form-select form-control-lg" })
                                @Html.ValidationMessageFor(model => model.Farm_Id, "" , new {  @class = "Complsry" })
                            </div>
                              <div class="col-md-5">
                                <a href="javascript:;" onclick="OpenFarmPopupFunction()"> Edit Farm</a>
                              </div>
                        </div>
                        @if (@ViewBag.UserRole == 1 || @ViewBag.UserRole == 2)
                        {
                            <div class="row align-items-center mb-3">
                                <div class="col-md-2">
                                    <label for="inputState"><span class="Complsry me-1">*</span>Producer</label>
                                </div>
                                <div class="col-md-5">
                                    @Html.DropDownListFor(x => x.ProducerId, new SelectList(ViewBag.Producer, "Value", "Text"), new {@id = "ProducerId" ,@class = "form-select form-control-lg" })
                                    @Html.ValidationMessageFor(model => model.ProducerId, "" , new {  @class = "Complsry" })
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.Hidden("ProducerId", ViewBag.ProducerI, new { })
                        }
                        <div class="row align-items-center mb-3">
                            <div class="col-md-2">
                                <input type="submit" class="btn bg-green" value="Submit" />
                                <button type="button" class="btn btn-outline-dark" onclick="if (@ViewBag.UserRole == 2) { location.href='@Url.Action("Landing", "Advisor")' + '?field=1' } else if(@ViewBag.UserRole == 1) { location.href='@Url.Action("MyFields", "Admin")' } else { location.href='@Url.Action("MyFields", "Producer")' }">Cancel</button>
                            </div>
                            <div class="col-md-5">
                                <a href="javascript:;" class="float-end" onclick="alertdeleteFieldFunction()"><i class="bi bi-trash"></i> Delete Field</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>