@using InternationalWaterWebApp.Library.ViewModel
@model User
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/splash.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="icon" href="images/favicon.png" sizes="16x16" type="image/png">
    <title>Way Findr</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    @* <title>International Water</title>*@
</head>
<body>
    <header>
        <section class="top_line"></section>
    </header>
    <section class="MR_T_B">
        <div class="container">
            <div class="inner_wayfindr">
                <div class="logo_txt">
                    <div class="main_logo"><img src="~/images/logo_wayfindr.png" alt="images"></div>
                    <div class="inr_txt">
                        <p>Enter your email to reset your password.</p>
                    </div>
                    @*<div class="coming_soon">Coming Soon..</div>*@
                    @*login sectio start*@
                    <div class="signIn_content">
                        <h3>Reset Password</h3>
                        @if (!string.IsNullOrWhiteSpace(Convert.ToString(TempData["Error"])))
                        {
                            <div class="alert alert-danger mt-3" role="alert">
                                @TempData["Error"]
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Convert.ToString(TempData["Message"])))
                        {
                            <div class="alert alert-info mt-3" role="alert">
                                @TempData["Message"]
                            </div>
                        }
                        @using (Html.BeginForm("ResetPassword", "Common", FormMethod.Post, new { @id = "ResetPassword", @class = "form-horizontal" }))
                        {
                            <div class="signIn_form">
                                <div class="si_input_group">
                                    <label for="">Email</label>
                                    @Html.TextBoxFor(x => x.Email, new { @id = "Email", @class = "form-control required", placeholder = "Enter Your Email Addres", required = "required" })
                                </div>
                                <div class="si_btn mt-3 mb-2">
                                    <button type="submit" class="btn bg-green">Submit</button>
                                    <button type="button" class="btn btn-outline-dark" onclick="location.href='/'">Cancel</button>
                                </div>
                            </div>
                        }
                    </div>
                    @*logi section end*@
                </div>
            </div>
        </div>
    </section>
    <section class="top_line"></section>
    @*<script src="js/script.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ProducerCustom.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>








@*
@using InternationalWaterWebApp.Library.ViewModel
@model User

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div class="row dash_box_wrapper">
    <div class="dash_box dash_box_100">
        <h5>Mail</h5>
        <div class="page_box_inner">
            @using (Html.BeginForm("ResetPassword", "Common", FormMethod.Post, new { @id = "ResetPassword", @class = "form-horizontal" }))
            {
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Email, new { @id = "Email", @class = "form-control required", placeholder = "Enter Your Email Addres", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row mt-1">
                            <div class="col-sm-9">
                            <button type="submit" class="btn btn-dark">Send</button>

                                @if (ViewBag.ReturnUrl != "")
                                {
                                    @Html.Hidden("ReturnUrl", ViewBag.ReturnUrl, new { })
                                    <button type="button" class="btn btn-outline-dark" onclick="window.location.href='@ViewBag.ReturnUrl'">Cancel</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@