@using InternationalWaterWebApp.Library.ViewModel
@model User
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/splash.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="icon" href="images/favicon.png" sizes="16x16" type="image/png">
    <title>Way Findr</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    @* <title>International Water</title>*@
</head>
<body>
    <header>
        <section class="top_line"></section>
    </header>
    <section class="MR_T_B">
        <div class="container">
            <div class="inner_wayfindr">
                <div class="logo_txt">
                    <div class="main_logo"><img src="~/images/logo_wayfindr.png" alt="images"></div>
                    <div class="inr_txt">
                        <div class="ligt_grn">Good for you.</div>
                        <div class="drk_grn">Good for all.</div>
                        <p>Leading the way to better farming + water<br> management practices to bring out your best.</p>
                    </div>
                    @*<div class="coming_soon">Coming Soon..</div>*@                 
                    @*login sectio start*@
                    <div class="signIn_content">
                        <h3>Sign In</h3>
                        @if (!string.IsNullOrWhiteSpace(Convert.ToString(TempData["Error"])))
                        {
                            <div class="alert alert-danger mt-3" role="alert">
                                @TempData["Error"]
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Convert.ToString(TempData["Message"])))
                        {
                            <div class="alert alert-info mt-3" role="alert">
                                @TempData["Message"]
                            </div>
                        }
                        @using (Html.BeginForm("Login", "WebApp", FormMethod.Post, new { @id = "loginform", @class = "form-horizontal mt-3" }))
                        {
                            <div class="signIn_form">
                                <div class="si_input_group">
                                    <label for="">Email</label>
                                    @Html.TextBoxFor(x => x.Email, new { @id = "Email", @class = "form-control form-control-lg mt-2", placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "" , new {  @class = "alert-danger" })
                                </div>
                                <div class="si_input_group">
                                    <label for="">Password</label>
                                    @Html.PasswordFor(x => x.Password, new { @id = "Password", @class = "form-control form-control-lg mt-2", placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password, "" , new {  @class = "alert-danger" })
                                </div>
                                <div class="si_forget">
                                    <a href="/Common/ResetPassword">Forgot Password</a>
                                </div>
                                <div class="si_btn mt-3 mb-2">
                                    <button type="submit" class="btn bg-green">Sign In</button>
                                </div>
                            </div>
                        }
                    </div>
                    @*logi section end*@
                </div>
                <div class="way_imge">
                    <img src="~/images/farm-image.jpeg" alt="images">
                </div>
            </div>
        </div>
    </section>
    <section class="top_line"></section>
     @*<script src="js/script.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ProducerCustom.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>




